* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #222;
  justify-content: center;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 30px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
  display: none;
}

.small {
  font-size: 10px;
}

.result-box ul {
  max-width: 80%;
  padding: 15px 10px;
}
.result-box ul li {
  list-style: none;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(220, 0, 0, 0)
  );
}

.result-box {
  max-height: 300px;
  overflow-y: scroll;
}

/* Caraousel */

.main-container {
  padding: 10px 10px;
}

.caraousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 0px 25px;
}

.caraousel-card {
  display: flex;
  max-width: 20%;
  padding: 5px 5px;
  margin: 5px;
  flex-direction: column;
  margin-top: 30px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3),
    rgba(220, 0, 0, 0)
  );
}

.caraousel-card h1 {
  font-size: 20px;
}

.caraousel-card h2 {
  font-size: 11px;
  margin-top: 2px;
}
.caraousel-card img {
  width: 70px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.arrow:hover {
  background-color: #ccc;
}

/* Media Queries */
@media (max-width: 768px) {
  .card {
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 40px 10px;
  }
  .search input {
    padding: 8px 10px;
    height: 40px;
    font-size: 14px;
    margin-right: 10px;
  }

  .search button {
    height: 35px;
    width: 35px;
  }

  .weather h1 {
    font-size: 60px;
  }

  .weather h2 {
    font-size: 35px;
  }

  .humidity,
  .wind {
    font-size: 22px;
  }
}

/* Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Transparent track background */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); /* Semi-transparent thumb */
  border-radius: 10px;
}

/* Firefox */
scrollbar-width: thin; /* or "auto" */
scrollbar-color: rgba(255, 255, 255, 0.4) transparent; /* Thumb color and track background */
